<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styledescricaoprodutos.css"/>
    <title>Avaliações dos Produtos</title>


</head>
<body>

    <h1>Avaliações dos Produtos</h1>

    <div class="container" id="avaliacoes"></div>

    <div id="erro"></div>

    <script>
        function classificarNota(nota) {
            if (nota >= 8) return "nota-alta";
            if (nota >= 5) return "nota-media";
            return "nota-baixa";
        }

        async function carregarAvaliacoes() {
            try {
                // const response = await fetch("/getAvaliacoesProdutos");
                const response = await fetch("http://localhost:4040/relatorios/avaliacaoclientes/produtos?contexto=descricoes");
                const data = await response.json();
                
                console.log(data.labels);

                if (!data) {
                    document.getElementById("erro").textContent =
                        "Não foi possível carregar as avaliações.";
                    return;
                }

                const container = document.getElementById("avaliacoes");
                console.log(data);
                data.idAvaliacao.forEach((a, index) => {
                    console.log(a);
                    console.log(index);
                    const idAvaliacao = a;
                    const nota = data.nota[index];
                    const nomeProduto = data.nomeProduto[index];
                    const descricao = data.descricao[index];
                    const nomeCliente = data.nomeCliente[index];
                    const dataavaliacao = data.data[index];

                    const card = document.createElement("div");
                    card.classList.add("card");

                    card.innerHTML = `
                        <div class="idAvaliacao">${idAvaliacao}</div>
                        <div class="nota ${classificarNota(nota)}">Nota: ${nota}</div>
                        <div class="nomeProduto">${nomeProduto}</div>
                        <div class="descricao">${descricao}</div>
                        <div class="nomeCliente">${nomeCliente}</div>
                        <div class="data">${data}</div>
                    `;

                    container.appendChild(card);
                });

            } catch (error) {
                document.getElementById("erro").textContent =
                    "Erro ao carregar avaliações.";
                console.error(error);
            }
        }

        carregarAvaliacoes();
    </script>

</body>
</html>

