<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylemenu.css" />
    <link rel="stylesheet" href="/css/styledescricaoprodutos.css">
    <script defer src="/js/menu-active.js"></script>
    <title>Avaliações dos Produtos</title>
</head>
<body>
    <aside class="sidebar">
        <div class="profile">
            <div class="avatar"></div>
            <div class="user-info">
                <span class="user-name"><%= usuario %></span>
                <span class="user-role"><%= roles %></span>
            </div>
        </div>

        <div class="menu-wrapper">
            <nav class="menu">
            <% if (!roles.includes('atendente')) { %>
                <a href="/auditoria" class="menu-btn clock" aria-label="Relógio" title="Auditoria"></a>
            <% } %>
            <a href="/relatorios" class="menu-btn stats" aria-label="Estatísticas" title="Avaliações"></a>
            <a href="/descricoes/produtos" class="menu-btn produto" aria-label="Descrição dos Produtos" title="Descrição dos Produtos"></a>
            </nav>
        </div>
    </aside>

    <main class="main-content">
        <div class="mainContent-container">
            <h1>Avaliações Recentes</h1>

            <div class="filtragem">
                <h3>Categoria: </h3>
                <select class="buttonsFiltragem" id="categorias">
                    <option value="vendedores">Vendedores</option>
                    <option value="produtos" selected>Produtos</option>
                    <option value="atendimento">Atendimento</option>
                </select>
                <h3>Filtros: </h3>
                <select class="buttonsFiltragem" id="campoFiltro">
                    <option value="idAvaliacao">ID da Avaliação</option>
                    <option value="descricao">Conteúdo da descrição da avaliação</option>
                    <option value="nota">Nota</option>
                    <option value="nomePrincipal">Nome</option>
                    <option value="nomeCliente">Nome do cliente</option>
                </select>
                <select class="buttonsFiltragem" id="operadorFiltro">
                    <option value="==">=</option>
                    <option value=">">&gt;</option>
                    <option value="<">&lt;</option>
                    <option value="!=">≠</option>
                    <option value="<=">≤</option>
                    <option value=">=">≥</option>
                    <option value="pertence">∈</option>
                </select>
                <input class="buttonsFiltragem" id="valorFiltro" type="text"></input>
                <h3>Ordenar por: </h3>
                <select class="buttonsFiltragem" id="ordenar">
                    <option value="idAvaliacao">ID</option>
                    <option value="nota">Nota</option>
                    <option value="nomePrincipal">Nome (Produto ou Vendedor)</option>
                    <option value="nomeCliente">Nome do Cliente</option>
                    <option value="data">Data</option>
                </select>
            </div>
            <!-- <div class="container" id="avaliacoes"></div> -->
            <div id="virtual-window" style="height: 800px; overflow-y: auto; position: relative; border: 1px solid #ccc 5px;">
                <div id="phantom-height" style="position: absolute; width: 100%; z-index: -1;"></div>
                
                <div class="container" id="avaliacoes"></div>
            </div>
            <div id="erro"></div>
        </div>
    </main>
    <script type="module" src="/js/descricaoProdutoScript.js"></script>
</body>
</html>