<!-- login.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Argenzio</title>
    <link rel="stylesheet" href="/css/stylelogin.css">
</head>
<body>
    <div class="container">
        <div class="logo"></div>
        <div class="login-box">
            <div class="user-icon"></div>
            <form method="POST" id="loginForm" action="/login">
                <label for="usuario">
                    <input id="usuario" name="usuario" type="text" placeholder="Usuário" required>
                </label>
                <label for="senha">
                    <input id="senha" name="senha" type="password" placeholder="Senha" required>
                </label>
                <% if(typeof erro !== "undefined"){ %>
                    <h3><%= erro %></h3>
                <% } %>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    
    <!-- <script src="/js/loginScript.js"></script> -->
</body>
</html>
