<!-- login.html -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Argenzio</title>
    <link rel="stylesheet" href="../public/css/stylelogin.css">
</head>
<body>
    <div class="container">
        <div class="logo"></div>
        <div class="login-box">
            <div class="user-icon"></div>
            <form>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Senha" required>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
