<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nova Avaliação de Cliente</title>
	<link rel="stylesheet" href="/css/stylenova_avaliacao.css">
</head>
<body>
	<div class="form-container">
		<h1>Nova Avaliação de Cliente</h1>
		<form action="/relatorios/avaliacaoclientes/nova" method="POST">
			<% try { %>
				<% if (erro) { %>
					<h3><%= erro %></h3>
				<% } %>
			<% } catch(err) {} %>
			
			<div class="form-group">
				<label for="nota">Nota (0-10)</label>
				<input type="number" id="nota" name="nota" min="0" max="10" required>
			</div>
			
			<div class="form-group">
				<label for="dataavaliacao">Data da Avaliação</label>
				<input type="datetime-local" id="dataavaliacao" name="dataavaliacao" required>
		   </div>
			
			<div class="form-group">
				<label for="idcliente">ID do Cliente</label>
				<input type="number" id="idcliente" name="idcliente" min="1" required>
		   </div>
			
			<div class="form-group">
				<label for="descricao">Descrição</label>
			<input type="text" id="descricao" name="descricao" required>
			</div>
			
			<div class="form-group">
				<label for="tag">Tag da Avaliação (1-3)</label>
				<select id="tag" name="tag" required>
					<option value="" disabled selected>Selecione uma tag...</option>
					<option value="1">Vendas</option>
					<option value="2">Produtos</option>
					<option value="3">Atendimento</option>
				</select>
			</div>

			<div class="form-group">
				<div id="escolherProduto">
					<label for="produto">Selecione o produto:</label>
					<select id="produto" name="produto">
						<option value="" disabled selected>Selecione...</option>
					</select>
				</div>
				
				<div id="escolherVendedor">
					<label for="vendedor">Selecione o vendedor:</label>
					<select id="vendedor" name="vendedor">
						<option value="" disabled selected>Selecione...</option>
					</select>
				</div>
			</div>
			
			<button type="submit">Enviar Avaliação</button>
			<a href="/relatorios" class="btn">Cancelar</a>
		</form>
	</div>
	<script type="module" src="/js/nova_avaliacaoScript.js"></script>
</body>
</html>