<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Layout Argenzio</title>
	<link rel="stylesheet" href="/css/stylemenu.css" />
	<script defer src="/js/menu-active.js"></script>
	<script defer type="text/javascript" src="/js/relatoriosScript.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
	<aside class="sidebar">
		<div class="profile">
			<div class="avatar"></div>
			<div class="user-info">
				<span class="user-name">Usuário</span>
				<span class="user-role">Cargo</span>
			</div>
		</div>

		<div class="menu-wrapper">
			<nav class="menu">
			<a href="/auditoria" class="menu-btn clock" aria-label="Relógio" title="Auditoria"></a>
			<a href="/config" class="menu-btn settings" aria-label="Configurações" title="Configurações"></a>
			<a href="/relatorios" class="menu-btn stats" aria-label="Estatísticas" title="Relatórios"></a>
			</nav>
		</div>
	</aside>

	<main class="main-content">
		<div class="logo"></div>
		<div class="mainDashboard">
			<div class="containerBotoesMudarRelatorio">
				<button align="center" id="avaliacoes" class="botaoMudarRelatorio">Press me</button>
				<button align="center" class="botaoMudarRelatorio" onclick="alert('Rendimento dos Vendedores');">Click me</button>
			</div>
			<div id="relatorio">
				<button align="center" class="botaoMudarRelatorio" onclick="getAvaliacoes();">Hit me</button>
				<pre id="teste">

				</pre>
				<canvas id="graficoChartJs">

				</canvas>
			</div>
		</div>
	</main>
	<script>
		"use strict";
		const avalButton = document.getElementById("avaliacoes");
		const ctx = document.getElementById('graficoChartJs');

		avalButton.onclick = async () => {
			const preElem = document.getElementById("teste");

			const result = await fetch("http://localhost:4040/relatorios/avaliacaoclientes");
			console.log(result);
			const data = await result.json();
			
			//preElem.innerHTML = JSON.stringify(data, null, 4);

			const notas = [];

			data.forEach(d => {
				notas.push(d.nota);
			});

			new Chart(ctx, {
			type: 'bar',
			data: {
			labels: ["10-9", "8-7", "6-5", "4-3", "2-1"],
			datasets: [{
				label: 'Nota',
				data: notas,
				borderWidth: 1
			}]
			},
			options: {
				scales: {
					y: {
					beginAtZero: true
					}
				}
			}
		});
		}

		

		
	</script>
</body>
</html>
