<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Layout Argenzio</title>
	<link rel="stylesheet" href="/css/stylemenu.css" />
	<link rel="stylesheet" href="/css/stylerelatorios.css" />
	<script defer src="/js/menu-active.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
	<aside class="sidebar">
		<div class="profile">
			<div class="avatar"></div>
			<div class="user-info">
				<span class="user-name">Usuário</span>
				<span class="user-role">Cargo</span>
			</div>
		</div>

		<div class="menu-wrapper">
			<nav class="menu">
			<% if (!roles.includes('atendente')) { %>
				<a href="/auditoria" class="menu-btn clock" aria-label="Relógio" title="Auditoria"></a>
			<% } %>
			<a href="/config" class="menu-btn settings" aria-label="Configurações" title="Configurações"></a>
			<a href="/relatorios" class="menu-btn stats" aria-label="Estatísticas" title="Relatórios"></a>
			</nav>
		</div>
	</aside>

	<main class="main-content">
		<div class="logo"></div>
		<div class="mainDashboard">
			<h2 id="tituloRelatorio">Relatório: Notas das Vendas</h2>
			<div class="containerBotoesMudarRelatorio">
				<button id="avaliacoes" class="botaoMudarRelatorio">Atualizar relatório</button>
				<button id="avaliacoesVendas" class="botaoMudarRelatorio">Ver notas das Vendas</button>
				<button id="avaliacoesProdutos" class="botaoMudarRelatorio">Ver notas dos Produtos</button>
				<button id="avaliacoesAtendimento" class="botaoMudarRelatorio">Ver notas do Atentimento</button>
				<a href="/relatorios/nova_avaliacao" id="novaAvaliacao" class="botaoMudarRelatorio" style="text-decoration: none;">Nova Avaliação</a>
			</div>
			<div id="relatorio">
				<canvas id="graficoChartJs">

				</canvas>
			</div>
		</div>
	</main>
	<script>
		"use strict";
		const avalButton = document.getElementById("avaliacoes");
		const avalVendasButton = document.getElementById("avaliacoesVendas");
		const avalProdutosButton = document.getElementById("avaliacoesProdutos");
		const avalAtendimentoButton = document.getElementById("avaliacoesAtendimento");
		const botoes = document.getElementsByClassName("botaoMudarRelatorio");
		const ctx = document.getElementById('graficoChartJs');
		let avaliacoes;
		let grafico;

		avalButton.onclick = async () => {
			const preElem = document.getElementById("teste");

			const result = await fetch("http://localhost:4040/relatorios/avaliacaoclientes");
			console.log(result);
			const data = await result.json();
			
			avaliacoes = data;
		}

		avalVendasButton.onclick = () => {
			atualizarSelecionado(avalVendasButton);
			grafico?.destroy();
			grafico = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: ["1","2","3","4","5","6","7","8","9","10"],
					datasets: [{
						label: 'Nota',
						data: avaliacoes?.vendas,
						borderWidth: 2
					}]
				},
				options: {
					scales: {
						y: {
							beginAtZero: true
						}
					},
					animation: {
						animateRotate: true,
						animateScale: true
					}
				}
			});
		}
		avalProdutosButton.onclick = () => {
			atualizarSelecionado(avalProdutosButton);
			grafico?.destroy();
			grafico = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: ["1","2","3","4","5","6","7","8","9","10"],
					datasets: [{
						label: 'Nota',
						data: avaliacoes?.produtos,
						borderWidth: 2
					}]
				},
				options: {
					scales: {
						y: {
							beginAtZero: true
						}
					},
					animation: {
						animateRotate: true,
						animateScale: true
					}
				}
			});
		}
		avalAtendimentoButton.onclick = () => {
			atualizarSelecionado(avalAtendimentoButton);
			grafico?.destroy();
			grafico = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: ["1","2","3","4","5","6","7","8","9","10"],
					datasets: [{
						label: 'Nota',
						data: avaliacoes?.atendimento,
						borderWidth: 2
					}]
				},
				options: {
					scales: {
						y: {
							beginAtZero: true
						}
					},
					animation: {
						animateRotate: true,
						animateScale: true
					}
				}
			});
		}
		
		function atualizarSelecionado(btn)
		{
			for(let i=0; i<botoes.length; i++)
				{
					botoes[i].className = "botaoMudarRelatorio";
				}

			btn.className = "botaoMudarRelatorio selecionado";
		}
	</script>
</body>
</html>
