<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Layout Argenzio</title>
	<link rel="stylesheet" href="/css/stylemenu.css" />
	<link rel="stylesheet" href="/css/stylerelatorios.css" />
	<script defer src="/js/menu-active.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
</head>
<body>
	<aside class="sidebar">
		<div class="profile">
			<div class="avatar"></div>
			<div class="user-info">
				<span class="user-name"><%= usuario %></span>
				<span class="user-role"><%= roles %></span>
			</div>
		</div>

		<div class="menu-wrapper">
			<nav class="menu">
			<% if (!roles.includes('atendente')) { %>
				<a href="/auditoria" class="menu-btn clock" aria-label="Relógio" title="Auditoria"></a>
			<% } %>
			<a href="/config" class="menu-btn settings" aria-label="Configurações" title="Configurações"></a>
			<!-- <a href="/relatorios" class="menu-btn stats" aria-label="Estatísticas" title="Rendimento"></a> -->
			<a href="/relatorios" class="menu-btn stats" aria-label="Estatísticas" title="Avaliações"></a>
			<a href="/descricaoProdutos" class="menu-btn produto" aria-label="Descrição dos Produtos" title="Descrição dos Produtos"></a>
			</nav>
		</div>
	</aside>

	<main class="main-content">
		<div class="logo"></div>
		<div class="mainDashboard">
			<h2 id="tituloRelatorio">Relatório: Notas das Vendas</h2>
			<div class="containerBotoesMudarRelatorio">
				<!-- <button id="alternarRelatorios" class="botaoMudarRelatorio">Alternar relatório</button> -->

				<button id="avaliacoesVendas" class="botaoMudarRelatorio">Ver notas das Vendas</button>
				<button id="avaliacoesProdutos" class="botaoMudarRelatorio">Ver notas dos Produtos</button>
				<button id="avaliacoesAtendimento" class="botaoMudarRelatorio">Ver notas do Atentimento</button>

				<!-- <button id="rendimento">Atualizar rendimento</button> -->

				<a href="/relatorios/nova_avaliacao" id="novaAvaliacao" class="botaoMudarRelatorio" style="text-decoration: none;">Nova Avaliação</a>
			</div>
			<div id="relatorio">
				<div class="scroll-container" id="containerMelhores">
					<canvas class="graficoChartJs graficoMelhores" id="melhores"></canvas>
				</div>
				<div class="scroll-container" id="containerPiores">
					<canvas class="graficoChartJs graficoPiores" id="piores"></canvas>
				</div>
			</div>
		</div>
	</main>
	<script>
		"use strict";
		
		const titulo = document.getElementById("tituloRelatorio");

		const avalButton = document.getElementById("avaliacoes");
		const avalVendasButton = document.getElementById("avaliacoesVendas");
		const avalProdutosButton = document.getElementById("avaliacoesProdutos");
		const avalAtendimentoButton = document.getElementById("avaliacoesAtendimento");

		const botoes = document.getElementsByClassName("botaoMudarRelatorio");
		const ctxMelhores = document.getElementById('melhores');
		const ctxPiores = document.getElementById('piores');

		let avaliacoes;
		let grafico=[];
		const BEST = 0, WORST = 1;

		async function atualizarRelatorios(categoria){
			const preElem = document.getElementById("teste");
			const result = await fetch(`http://localhost:4040/relatorios/avaliacaoclientes/${categoria}`);
			const data = await result.json();
			avaliacoes = data;
			
			titulo.textContent =
				categoria === "atendimento" ? "Quantidade de notas por nota do atendimento"
				: categoria === "vendedores" ? "Média das notas por vendedor"
				: "Média das notas por produto";
			
			if(categoria === "atendimento")
			{
				document.getElementById("containerPiores").style.display = "none";
				document.getElementById("containerMelhores").style.height = "520px";
			}
			else
			{
				document.getElementById("containerPiores").style.display = "";
				document.getElementById("containerMelhores").style.height = "260px";
				document.getElementById("containerPiores").style.height = "260px";
			}
		}

		avalVendasButton.onclick = async () => {
			atualizarSelecionado(avalVendasButton);
			await atualizarRelatorios("vendedores");
			criarGrafico("line", ctxMelhores, true, "vendedores");
			criarGrafico("line", ctxPiores, false, "vendedores");
		}
		avalProdutosButton.onclick = async () => {
			atualizarSelecionado(avalProdutosButton);
			await atualizarRelatorios("produtos");
			criarGrafico("line", ctxMelhores, true, "produtos");
			criarGrafico("line", ctxPiores, false, "produtos");
		}
		avalAtendimentoButton.onclick = async () => {
			atualizarSelecionado(avalAtendimentoButton);
			await atualizarRelatorios("atendimento");
			criarGrafico("bar", ctxMelhores, true, "atendimento");
		}
		
		function criarGrafico(tipoGrafico, ctx, ehMelhores, categoria)
		{
			ehMelhores ? grafico[BEST]?.destroy() : null;
			grafico[WORST]?.destroy();
			grafico[ehMelhores ? BEST : WORST] = new Chart(ctx, {
				type: tipoGrafico,
				data: {
					labels: ehMelhores ? avaliacoes?.labels : avaliacoes?.labels.toReversed(),
					datasets: [{
						label: 'Nota',
						data: ehMelhores ? avaliacoes?.notas : avaliacoes?.notas.toReversed(),
						borderWidth: 2
					}]
				},
				options: {
					scales: {
						x: { min: 0, max: 9},
						y: { beginAtZero: true }
					},
					animation: { animateRotate: true, animateScale: true },
					plugins: {
						title: {
							display: true,
							text: !ehMelhores ? "Piores" : categoria !== "atendimento" ? "Melhores" : "Notas do Atendimento"
						},
						zoom: {
							pan: {
								enabled: true,
								mode: 'x',
								modifierKey: null,
							},
							zoom: {
								wheel: {
									enabled: false
								},
								pinch: {
									enabled: true
								},
								mode: 'x',
							},
						}
					},
					elements: {
						line: {
							backgroundColor: ehMelhores ? "#33ee55" : "#ee3355",
							borderColor: ehMelhores ? "#33ee55" : "#ee3355"
						},
						bar: { backgroundColor: "#33ee55" }
					},
					responsive: true,
					maintainAspectRatio: false,
				}
			});
		}
		
		function atualizarSelecionado(btn)
		{
			for(let i=0; i<botoes.length; i++)
			{ botoes[i].className = "botaoMudarRelatorio"; }

			btn.className = "botaoMudarRelatorio selecionado";
		}
	</script>
</body>
</html>
