<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Layout Argenzio</title>
	<link rel="stylesheet" href="/css/stylemenu.css" />
	<link rel="stylesheet" href="/css/stylerelatorios.css" />
	<script defer src="/js/menu-active.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
</head>
<body>
	<aside class="sidebar">
		<div class="profile">
			<div class="avatar"></div>
			<div class="user-info">
				<span class="user-name"><%= usuario %></span>
				<span class="user-role"><%= roles %></span>
			</div>
		</div>

		<div class="menu-wrapper">
			<nav class="menu">
			<% if (!roles.includes('atendente')) { %>
				<a href="/auditoria" class="menu-btn clock" aria-label="Relógio" title="Auditoria"></a>
			<% } %>
			<a href="/relatorios" class="menu-btn stats" aria-label="Estatísticas" title="Avaliações"></a>
			<a href="/descricoes/produtos" class="menu-btn produto" aria-label="Descrição dos Produtos" title="Descrição dos Produtos"></a>
			</nav>
		</div>
	</aside>

	<main class="main-content">
		<div class="logo"></div>
		<div class="mainDashboard">
			<h2 id="tituloRelatorio">Relatório: Clique nos botões para ver os relatórios</h2>
			<div class="containerBotoesMudarRelatorio">
				<button id="avaliacoesVendas" class="botaoMudarRelatorio">Ver notas das Vendedores</button>
				<button id="avaliacoesProdutos" class="botaoMudarRelatorio">Ver notas dos Produtos</button>
				<button id="avaliacoesAtendimento" class="botaoMudarRelatorio">Ver notas do Atentimento</button>

				<a href="/relatorios/nova_avaliacao" id="novaAvaliacao" class="botaoMudarRelatorio" style="text-decoration: none;">Nova Avaliação</a>
			</div>
			<div id="relatorio">
				<div class="scroll-container" id="containerMelhores">
					<canvas class="graficoChartJs graficoMelhores" id="melhores"></canvas>
				</div>
				<div class="scroll-container" id="containerPiores">
					<canvas class="graficoChartJs graficoPiores" id="piores"></canvas>
				</div>
			</div>
		</div>
	</main>
	<script type="module" src="/js/relatoriosScript.js"></script>
</body>
</html>
