openapi: 3.0.3
info:
  title: software-corporativo-desktop
  version: 1.0.0
  description: Projeto Integrado do módulo de Desenvolvimento de Software Corporativo UNIFEOB

servers:
  - url: http://localhost:4040

paths:
  /config:
    get:
      summary: Renderiza página de configurações
      responses:
        '200':
          description: Página de configurações
        '404':
          description: Página não encontrada